html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 250px;
  padding: 4rem;
}

.robot {
  width: 320px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.robot-body {
  left: 50%;
  width: 320px;
  position: absolute;
  transform: translate(-50%);
}

.robot-brain {
  width: 46px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.robot-head-right {
  position: absolute;
  right: 35px;
  top: -37px;
  width: 125px;
}

.robot-head-left {
  left: 35px;
  position: absolute;
  top: -37px;
  width: 125px;
}

.robot:hover .robot-head-right {
  position: absolute;
  right: 0;
  top: -60px;
}

.robot:hover .robot-head-left {
  position: absolute;
  left: 0;
  top: -60px;
}

.robot:hover .robot-brain {
  position: absolute;
  top: -20px;
}
